.education {
  background-image: url("../../images/gradient.png");
  background-position: center center;
  background-repeat: repeat-x;
  background-size: cover;
  padding: 50px 30px 150px;
}

.education-wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: auto;
  max-width: fit-content;
}

.education-wrapper__left-header {
  margin-bottom: 20px;
}

.education-wrapper__left-body,
.education-wrapper__right-body {
  color: #26394F;
}

.education-wrapper__left-body {
  font-weight: 700 !important;
}

.education-wrapper__right {
  max-width: 550px;
}

.education__underline {
  position: absolute;
  bottom: 0px;
}

@media (min-width: 768px) {
  .education {
    padding: 50px 60px 200px;
  }

  .education-wrapper__left {
    white-space: nowrap;
  }
}

@media (min-width: 900px) {
  .education-wrapper {
    flex-direction: row;
    gap: min(10vw, 200px);
  }
}

@media (min-width: 1600px) {
  .education {
    background-size: contain;
  }
}