
/* Wrapper */
.sg-button-wrapper {
    align-items: center;
    background-color: #FFF;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
}

.sg-button-icon__light {
    animation: iconLight 0.5s ease-in-out;
    position: relative;
}

.sg-button-icon__dark {
    animation: iconDark 0.5s ease-in-out;
    position: relative;
}

@keyframes iconLight {
    0% { opacity: 0; top: 32px; transform: rotateZ(-120deg); }
    40% { opacity: 0.9; }
    60% { opacity: 1; }
    80% { opacity: 1; }
    100% { opacity: 1; top: 0px; transform: rotateZ(0deg); }
}

@keyframes iconDark {
    0% { opacity: 0; top: 32px; transform: rotateZ(-90deg); }
    40% { opacity: 0.9; }
    60% { opacity: 1; }
    80% { opacity: 1; }
    100% { opacity: 1; top: 0px; transform: rotateZ(0deg); }
}

@media (prefers-color-scheme: dark) {
    .sg-button-wrapper {
        background-color: rgb(40, 40, 50);
    }
}

@media screen and (max-width: 600px) {
    .sg-button-wrapper {
        height: auto;
        padding: 50px 30px;
    }
}