.bordered-list-block {
	align-items: center;
	display: grid;
	gap: 50px;
	justify-content: space-between;
	grid-template-columns: repeat(2, 1fr);
	width: 100%;
}

.motion-img-wrapper:nth-of-type(even) {
  grid-row-start: 1;
}

@media only screen and (max-width: 700px) {
	.bordered-list-block {
		grid-template-columns: 1fr;
	}
	.motion-img-wrapper {
		grid-row-start: 1;
	}
}

.bordered-list-block .list-image-wrapper {
	background-color: rgba(134, 157, 138, 0.1);
	border: 0.1rem solid #ffffff0c;
	border-radius: 2.5rem;
	box-sizing: border-box;
	display: flex;
	grid-row: 1;
	justify-content: center;
	max-height: 400px;
	overflow: hidden;
	padding: 30px 0px 0px 30px;
	position: relative;
}

.bordered-list-block .list-image-wrapper img {
	border-radius: 1rem 0rem 0rem 0rem;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
	object-fit: cover;
	object-position: top;
	width: 100%;
}

.bordered-list-block .list-image-wrapper::after {
	background: linear-gradient(transparent, rgba(134, 157, 138, 0.5));
	content: "";
	height: 100%;
	position: absolute;
	width: 100%;
}
