
/* Wrapper */
.sg-wrapper {
    background-color: #FFF;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
}

.sg-image-container {
    margin: 40px 40px 0px;
}

.image {
    align-items: center;
    border-radius: 5rem;
    display: flex;
    height: 60px;
    justify-content: center;
    width: 60px;
}

.sg-body-container {
    padding: 0px 40px 40px;
}

@media (prefers-color-scheme: dark) {
    .sg-wrapper {
        background-color: rgb(40, 40, 50);
    }
}