@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

*::selection {
  background: #e7e7e7;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  transition: all 0.2s ease-out;
}

body {
  background-color: #f7f7f7;
  font-family: "Inter", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Dark Preference */
@media (prefers-color-scheme: dark) {
  *::selection {
    background: #3e3c49;
  }
  
  body {
    background-color: #201f25;
  }
}
