.salesforce {
  background-color: #F7F7F7;
  padding: 50px 30px 100px;
}

.salesforce-wrapper {
  color: #26394F;
  margin: auto;
  max-width: fit-content;
  text-align: center;
}

.salesforce-wrapper__subheader {
  margin: 20px 0px;
}

.salesforce-wrapper__body {
  margin-bottom: 20px;
  max-width: 500px;
}

@media (min-width: 900px) {
  .salesforce {
    padding: 100px 60px 200px;
  }
}