/* Home - Wrapper */
.home-wrapper {
    margin-bottom: 50px;
    padding: 0px 20px;
}

.home-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-inline: auto;
    max-width: 1264px;
}

.box2,
.box3 {
    grid-column: span 2;
}

.box5 {
    grid-column-end: 5;
    grid-column-start: 4;

    grid-row-end: 3;
    grid-row-start: 1;
}

.box7 {
    grid-column-end: 5;
    grid-column-start: 4;
}