/* Center-aligned items */
.navbar-content, a {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.navbar {
    margin: 0 auto;
}

.navbar-content {
    box-sizing: border-box;
    height: 40px;
    justify-content: space-between;
}

.nav-links, .navbar-content li {
    height: 100%;
}

.navbar-content a {
    color: #313131;
    font-size: 0.9rem;
    height: 100%;
    text-decoration: none;
    transition: all 75ms linear;
}

.navbar-content a:hover {
    opacity: 0.5;
}

.navbar-content a.logo {
    font-size: 1.3rem;
    font-weight: bold;
    opacity: 1;
}

.navbar-content .nav-links a.active {
    opacity: 1;
}







