.hero-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

h1 {
    color: #232323;
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    max-width: 540px;
    line-height: 80px;
}

mark {
    background-color: #F2ECFF;
}

p {
    color: #878787;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    max-width: 650px;
    line-height: 40px;
}

span.name {
    color: #232323;
    font-size: 20px;
    font-weight: 600;
}

a.resume-link {
    background-color: #f7f7f7;
    border: 2px solid #e7e7e7;
    border-radius: 8px;
    color: #232323;
    font-size: 14px;
    font-weight: 500;
    padding: 15px 34px;
    transition: all 0.15s ease-out;
}

a.resume-link:hover {
    border: 2px solid #662FDB;
    padding: 15px 47px;
    filter: drop-shadow(0px 5px 10px rgba(130, 81, 234, 0.25));
}

a.resume-link:active:hover {
    transform: scale(0.9);
}

/* Media Queries */
@media screen and (max-width: 550px) {
    h1 {
        font-size: 30px;
        line-height: 60px;
    }

    p {
        font-size: 1rem;
        line-height: 35px;
    }
}

@media screen and (max-height: 500px) {
    p {
        margin: 7vh 0px;
    }

    .hero-container {
        padding: 7vh 0px;
    }
}

@media screen and (min-height: 500px) {
    .hero-container {
        justify-content: center;
    }

    p {
        margin: 7vh 0px;
    }
}

/* smartphones, touchscreens */
@media (hover: none) and (pointer: coarse) {
    a.resume-link {
        border: 2px solid #662FDB;
        padding: 15px 47px;
        filter: drop-shadow(0px 5px 10px rgba(130, 81, 234, 0.25));
    }
}


