.text-block-link {
  position: relative;
}

.text-block-link::after {
  background-color: #1e5bb8;
  content: "";
  height: 2px;
  left: 0px;
  position: absolute;
  top: calc(100% + 2px);
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.2s 0.1s;
  width: 100%;
}

.text-block-link:hover::after {
  transform: scaleX(1);
}
