/* Center-aligned items */
.footer-content, .footer-content a, .footer-content li {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.footer {
    margin: 50px 0 100px;
}

.footer-content {
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
    height: 40px;
    justify-content: space-between;
}

.nav-links, .footer-content li {
    height: 100%;
}

.footer-content li {
    margin-right: 32px;
}

.footer-content li:nth-of-type(4) {
    margin-right: 0;
}

.footer-content a {
    color: #313131;
    font-size: 2rem;
    height: 100%;
    text-decoration: none;
    transition: all 75ms linear;
}

.footer-content a:hover {
    opacity: 0.75;
}

.footer-content p {
    margin-bottom: 2rem;
    opacity: 0.4;
    text-align: center;
}




