.work {
  padding: 100px 30px;
}

.work-wrapper {
  display: flex;
  flex-direction: column-reverse;
  gap: 40px;
  margin: auto;
  max-width: fit-content;
}

.work-wrapper__left {
  max-width: 550px;
}

.work-wrapper__body {
  color: #26394F;
  margin-bottom: 20px;
}

@media (min-width: 900px) {
  .work {
    padding: 200px 60px;
  }

  .work-wrapper {
    flex-direction: row;
    gap: min(10vw, 200px);
  }
}